[Unit]
Description=Home Assistant remote control
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/ha-remote
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
