[Unit]
Description=Home Assistant remote control
After=graphical-session.target gnome-keyring-daemon.service noctalia.service
PartOf=graphical-session.target

[Service]
ExecStart=%h/.local/bin/ha-remote
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
